@using RaceResultsBlazor.App.Services
@inject ResultsService ResultsService
@inject NavigationManager NavManager

<div class="menu-container">
    <div class="top-row">
        <Button class="nav-top-button" @onclick="NavigateHome"><span class="oi oi-home mr-2" /></Button>
        <Button class="nav-top-button expand-button" @onclick="ToggleNavMenu"><span class="oi oi-list mr-2" /></Button>
    </div>

    <Button class="nav-btn desktop-only" @onclick="NavigateHome"><span class="oi oi-home mr-2" /></Button>
    @foreach (var serie in series)
    {
        <div class="dropdown @NavMenuCssClass">
            <a class="btn dropdown-toggle nav-btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @serie.Title
            </a>
            <div class="dropdown-menu nav-sub-menu" aria-labelledby="dropdownMenuButton">
                @if (serie.ContainsTeamInfo)
                {
                    <a class="nav-sub-menu-item dropdown-item" href="@serie.TeamsInfoLink">
                        Teams info
                    </a>
                }
                @if (serie.ContainsDriverResults)
                {
                    <a class="dropdown-item nav-sub-menu-item" href="@serie.DriversResultsLink">
                        Drivers standings
                    </a>
                }
                @if (serie.ContainsTeamResults)
                {
                    <a class="nav-sub-menu-item dropdown-item" href="@serie.TeamsResultsLink">
                        Teams standings
                    </a>
                }
            </div>
        </div>
    }
</div>
