@page "/teams/{title}"

@using RaceResultsBlazor.App.Data
@inject ResultsService ResultsService

@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="team-table">
        <table>
            <thead>
                <tr>
                    <th class="position-head"></th>
                    <th class="driver-head">Team</th>
                    <th class="points-head totals">Pts</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var teamResult in results.TeamResults)
                {
                    <tr>
                        <td class="position">@teamResult.Position</td>
                        <td class="flagged-name @teamResult.GetClasses()" style="border-color: @teamResult.GetColor()" >
                            <span class="flagged-name-span">@teamResult.Name</span> <img class="driver-flag" src="@teamResult.Country" onerror="this.style.visibility='hidden'"/>
                        </td>
                        <td class="totals">@teamResult.Points</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private TeamResultsViewModel results;

    [Parameter]
    public string Title { get; set; }

    protected override async Task OnInitializedAsync()
    {
        results = await ResultsService.GetTeamResultsAsync(Title);
    }
}